@import 'tailwindcss';

:root {
  --background: #e3ded3;
  --foreground: #111010;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

p {
  color: var(--color-gray-800);
}

.fadeIn {
  animation: fadeIn ease 800ms;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* a {
  @apply text-green-700;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}
a:hover {
  @apply text-green-900;
}
a:focus {
  @apply text-green-900;
  outline: none;
  box-shadow: 0 0 0 2px var(--color-foreground);
}
a:active {
  @apply text-green-900;
}
a:visited {
  @apply text-green-700;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-sans);
  font-weight: 600;
  color: var(--color-green-700);
}
h1 {
  font-size: 2.3rem;
  font-weight: 900;
}
h2 {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--color-gray-800);
}
